@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-size: cover;
    color: white;
    font-family: 'Playfair Display', serif;
}
.logo{
    position: absolute;
    top: 9%;
    left: 5%;
}
span{
    position: absolute;
    top: 10%;
    left: 11%;
    z-index: 100;
    text-decoration: underline;
}
nav{
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7px);
    height: 100px;
    float: right;
    width: 50%;
    margin-top: 50px;
    
}
nav ul li{
   
    padding: 25px;
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
.text1{
    color: rgba(255, 255, 255, 0.377);
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 46px;
}
strong{
    position: absolute;
    top: 63%;
    left: 10%;
    font-size: 66px;
    letter-spacing: 10px;
}