@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    color: white;
    font-family: 'Playfair Display', serif;
}
.logo{
    position: absolute;
    top: 9%;
    left: 5%;
}
span{
    position: absolute;
    top: 10%;
    left: 11%;
    z-index: 100;
    text-decoration: underline;
}
nav{
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7px);
    height: 100px;
    float: right;
    width: 50%;
    margin-top: 50px;
    
}
nav ul li{
   
    padding: 25px;
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
.text1{
    color: white;
    position: absolute;
    top: 26%;
    left: 10%;
    font-size: 36px;
}
.text1 span{
    color: rgba(255, 255, 255, 0.39);
    position: absolute;
    top: -4%;
    left: -10%;
    font-size: 36px;
    text-decoration: none;
}
.mars{
    position: absolute;
    top: 40%;
    left: 15%;
}
.text2{
    position: absolute;
    top: 43%;
    left: 60%;
    font-size: 66px;
    letter-spacing: 10px;
}
.text3{
    color: rgba(255, 255, 255, 0.664);
    position: absolute;
    top: 61%;
    left: 60%;
    line-height: 27px;
    font-size: 18px;

}
.under{
    position: absolute;
    top: 77%;
    left: 60%;
}

.info{
    position: absolute;
    top: 77%;
    left: 70%;
}
.info1{
    position: absolute;
    top: 80%;
    left: 63%;
}
.info1 span{
    position: relative;
    font-size: 26px;
    margin-left: -14px;
    padding-top: 25px;
}
.info2{
    position: absolute;
    top: 80%;
    left: 78%;
}

.info2 span{
    position: relative;
    font-size: 26px;
    margin-left: -14px;
    padding-top: 25px;
}